@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

abbr[title] {
  text-decoration: 0;
}

/* HEADER */
.bg-dark {

}

/* NAVIGATION */
#navbar-toggler {
  background-color: transparent;
  border: 0;
}

/* HERO */
#hero {
  align-items: center;
  background-attachment: fixed;
  display: flex;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  justify-content: center;
  width: 100%;
}

h1 {
  font-weight: 700 !important;
}
