@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

abbr[title] {
  text-decoration: 0;
}

/* HEADER */
.bg-dark {
  background-color: black !important;
}

/* NAVIGATION */
.navbar-nav .nav-link.active,
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  color: #e3e5e8;
}

.nav-link {
  color: #636b74;
}

#navbar-toggler {
  background-color: transparent;
  border: 0;
  color: #e3e5e8;
}

/* HERO */
#hero {
  align-items: center;
  background-attachment: fixed;
  display: flex;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  justify-content: center;
  width: 100%;
}

#hero .lead {
  color: #636b74;
}

h1 {
  color: #0c0d0e;
  font-weight: 700 !important;
}
