/* HEADER */
#header {
  margin-inline: auto;
  width: 100%;
}

@media screen and (min-width: 576px) {
  /* HEADER */
  #header {
    .inner {
      width: 54rem;
    }
  }
}

@media screen and (min-width: 768px) {
  /* HEADER */
  #header {
    .inner {
      width: 72rem;
    }
  }
}

@media screen and (min-width: 992px) {
  /* HEADER */
  #header {
    .inner {
      width: 96rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  /* HEADER */
  #header {
    .inner {
      width: 114rem;
    }
  }
}

@media screen and (min-width: 1400px) {
  /* HEADER */
  #header {
    width: 132rem;
  }
}
