{
  "experimentalTernaries:": true,
  "printWidth": 100,
  "singleQuote": true,
  "objectWrap": "collapse",
  "arrowParens": "avoid",
  "overrides": [{ "files": "*.html", "options": { "parser": "angular" } }]
}
