<section id="hero">
  <div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center vh-100">
      <h1 id="name">{{ name }}</h1>
      <span id="role">{{ role }}</span>
      <a href="static/curriculum-vitae.pdf" role="button" download="curriculum-vitae"
        >Curriculum Vitae</a
      >
      <p>Follow me on:</p>
      <ul id="social-networks">
        <li>
          <a href="https://g.dev/fedtti" target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]="['fab', 'google']" title="Google"></fa-icon>
          </a>
        </li>
        <li>
          <a href="https://github.com/fedtti" target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]="['fab', 'github']" title="GitHub"></fa-icon>
          </a>
        </li>
        <li>
          <a href="https://linkedin.com/in/fedtti" target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]="['fab', 'linkedin']" title="LinkedIn"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
