<section id="about">
  <div class="inner">
    <div class="start">
      <figure>
        <img src="" alt="">
        <figcaption>Picture of Federico Moretti</figcaption>
      </figure>
    </div>
    <div class="end">
      <h2>About</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati accusantium tempora dignissimos expedita. Aliquid magni ducimus voluptas. Numquam aliquid ullam eius vero laboriosam laudantium obcaecati! Voluptates sequi corporis incidunt praesentium?</p>
    </div>
  </div>
</section>
