/* ABOUT */
#about {
  height: 100vh;
  width: 100%;
  z-index: 10;

  .inner {
    align-items: center;
    column-gap: 0;
    row-gap: 8.1rem;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
    margin-inline: auto;
    padding-block: 8.1rem;
    width: 100%;

    .start {
      width: 100%;

      figure {
        text-align: center;

        img {
          border-radius: 50%;
          max-height: 100%;
          max-width: 100%;
        }

        figcaption {
          display: none;
        }
      }
    }

    .end {
      width: 100%;

      h2 {
        font-family: 'IBM Plex Serif', serif;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.5;
        margin-block-end: 2.5rem;
        text-transform: lowercase;

        &::after {
          color: var(--primary-accent);
          content: '.';
        }
      }

      p {
        font-size: 1.6rem;
        line-height: 1.5;

        abbr[title] {
          border-block-end: 0.0625rem dashed var(--secondary-accent);
          cursor: help;
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
  /* ABOUT */
  #about {
    .inner {
      column-gap: 7.3rem;
      row-gap: 0;
      flex-direction: row;
      padding-block: 8.1rem 7.3rem;
      width: 54rem;

      .start {
        width: 50%;
      }

      .end {

        width: 50%;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  /* ABOUT */
  #about {
    .inner {
      width: 72rem;
    }
  }
}

@media screen and (min-width: 992px) {
  /* ABOUT */
  #about {
    .inner {
      width: 96rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  /* ABOUT */
  #about {
    .inner {
      width: 114rem;
    }
  }
}

@media screen and (min-width: 1400px) {
  /* ABOUT */
  #about {
    .inner {
      width: 132rem;
    }
  }
}

