/* ABOUT */
#about {
  height: 100vh;
  width: 100%;

  .inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-inline: auto;
  }
}