<section id="about" aria-label="About">
  <div class="inner">
    <div class="start">
      <figure>
        <picture>
          <!-- TODO: @fedtti -->
          <img
            srcset="{{ gravatarUrl }}?s=240 x1, {{ gravatarUrl }}?s=360 x1.5, {{ gravatarUrl }}?s=480 2x, {{ gravatarUrl }}?s=720 3x"
            src="{{ gravatarUrl }}?s=720"
            alt="Picture of {{ name }}"
            loading="lazy"
            decoding="async"
          >
        </picture>
        <figcaption>{{ name }}</figcaption>
      </figure>
    </div>
    <div class="end">
      <h2>About</h2>
      <p>
        I’m Federico, a software developer based in Italy.
        <br><br>
        I started coding in the late 1980s, when I was around five years old: now that I’ve been diagnosed with high-intelligence <abbr title="Attention-Deficit/Hyperactivity Disorder">ADHD</abbr>, it makes sense.
        <br><br>
        I haven’t always been a programmer. I’ve been a researcher, a web editor, and I studied classical literature in high school. I graduated with a degree in communication sciences and completed a first level professional master in sociology.
        <br><br>
        Nice to meet you.
      </p>
    </div>
  </div>
</section>
