button {
  appearance: none;
  background-color: transparent;
  border: 0.25rem solid transparent;
  border-radius: 0.5rem;
  color: var(--links);
  cursor: pointer;
  font-size: 1.6rem;
  height: 3.6rem;
  transition: border-color 0.5s linear,
              color 0.5s linear;
  width: 3.6rem;

  &:active,
  &:focus,
  &:hover {
    border-color: var(--border-strong);
    color: var(--links-hover);
  }

  &:focus-visible {
    outline: 0.1rem dashed var(--focus-ring);
    outline-offset: 0.2rem;
  }
}
