<!-- BREADCRUMBS -->
<nav id="breadcrumbs" itemprop="breadcrumb" aria-label="Breadcrumb">
  <ol vocab="https://schema.org/" typeof="BreadcrumbList">
    <i class="fa-solid fa-location-dot" title="Position"></i>
    <li property="itemListElement" typeof="ListItem">
      <a href="{{ site.url | absolute_url | append: '/' }}" property="item" typeof="WebPage">Home</a>
      <meta property="position" content="1">
    </li>
    {% if page.url != '/' and page.id == nil %}
    ›
    <li property="itemListElement" typeof="ListItem">
      <a href="{{ page.url | absolute_url | remove: 'index.html' }}" property="item" typeof="WebPage">{{ page.title }}</a>
      <meta property="position" content="2">
    </li>
    {% endif %}
    {% if page.id %}
    ›
    <li property="itemListElement" typeof="ListItem">
      <a href="{{ site.url | absolute_url | append: '/blog/' }}" property="item" typeof="WebPage">Blog</a>
      <meta property="position" content="2">
    </li>
    ›
    <li property="itemListElement" typeof="ListItem">
      <a href="{{ page.url | absolute_url }}" property="item" typeof="WebPage">{{ page.title }}</a>
      <meta property="position" content="3">
    </li>
    {% endif %}
  </ol>
</nav>
