<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{ page.title }}
  </title> <!-- TODO: @fedtti -->
  <meta name="description" content="{{ page.description }}">
  <meta name="robots" content="{%- if page.url == '/404.html' -%}noindex{%- else -%}index{%- endif -%}, follow, noarchive"> <!-- TODO: @fedtti -->
  {% if page.url != '/404.html' %}
  <meta property="og:title" content="{{ page.og_title }}">
  <meta property="og:description" content="{{ page.og_description }}">
  <link property="og:url" href="{{ page.url | absolute_url | remove: 'index.html' }}">
  {% endif %}
  <link rel="apple-touch-icon" sizes="76x76" href="{{ 'assets/img/apple-touch-icon-76x76.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ 'assets/img/apple-touch-icon-120x120.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ 'assets/img/apple-touch-icon-152x152.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/img/apple-touch-icon-180x180.png' | relative_url }}">
  {% if page.url != '/404.html' %}
  <link rel="canonical" href="{{ page.url | absolute_url | remove: 'index.html' }}">
  {% endif %}
  <link rel="icon" type="image/png" href="{{ 'assets/img/favicon-16x16.png' | relative_url }}" sizes="16x16">
  <link rel="icon" type="image/png" href="{{ 'assets/img/favicon-32x32.png' | relative_url }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ 'assets/img/favicon-48x48.png' | relative_url }}" sizes="48x48">
  <link rel="manifest" href="{{ 'manifest.webmanifest' | relative_url }}">
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" as="style" onload="this.rel='stylesheet'">
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" as="style" onload="this.rel='stylesheet'">
  <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.ico' | relative_url }}" sizes="any">
  <link rel="stylesheet" href="{{ 'assets/css/style.css' | relative_url }}">
  <script type="application/ld+json">
    {
      "@context" : "https://schema.org/",
      "@type" : "WebSite",
      "name" : "{{ site.author.full_name }}",
      "alternateName" : "{{ site.author.nickname }}",
      "url" : "{{ site.url | absolute_url | append: '/' }}"
    }
  </script>
</head>
