<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title> <!-- TODO: @fedtti -->
  <meta name="description" content="{{ page.description }}"> <!-- TODO: @fedtti -->

  <meta name="robots" content="index, follow"> <!-- TODO: @fedtti -->

  <link rel="canonical" href="{{ page.url | absolute_url }}"> <!-- TODO: @fedtti -->

  <link rel="manifest" href="{{ 'manifest.webmanifest' | relative_url }}">

  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" as="style" onload="this.rel='stylesheet'">
  <link rel="shortcut icon" href="{{ 'favicon.ico' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/style.css' | relative_url }}">

</head>
