<!-- HEADER -->
<header id="header">
  <div class="inner">
    <div class="left">
      <h1>F<span class="hidden">ederico </span>M<span class="hidden">oretti</span></h1>
    </div>
    <div class="right">
      <ul>
        <li>
          <button id="theme-switcher">
            <i id="theme-switcher-icon" class="fa-solid fa-moon" title="Switch to the dark theme"></i>
          </button>
        </li>
        <li>
          <button id="navigation-toggler" aria-controls="navigation" aria-expanded="false">
            <i id="navigation-toggler-icon" class="fa-solid fa-bars" title="Expand the navigation menu"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>
