/* HERO */
#hero {
  margin-inline: auto;

  .inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;

    #name {
      font-family: 'IBM Plex Serif', serif;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.5;
      text-transform: lowercase;

      &::after {
        color: var(--primary-accent);
        content: '.';
      }
    }

    #role {
      color: var(--secondary-text);
      font-size: 1.6rem;
      line-height: 1.5;
    }

    #social-networks {
      margin-block-start: 1rem;

      li {
        display: inline-block;
        font-size: 1.6rem;
        list-style: none;
        margin-inline-start: 0.5rem;

        &:first-child {
          margin-inline-start: 0;
        }

        a {
          align-items: center;
          color: var(--links);
          display: flex;
          height: 2.4rem;
          justify-content: center;
          transition: color 0.5s linear;
          width: 2.4rem;

          &:hover {
            color: var(--links-hover);
          }

          svg {
            height: 100%;
            width: 100%;
          }
        }
      }
    }

    a[role="button"] {
      background-color: var(--secondary-accent);
      border-bottom: 0.2rem solid var(--secondary-accent-hover);
      border-radius: 0.5rem;
      color: var(--primary-background);
      display: inline-block;
      font-size: 1.2rem;
      height: 3.2rem;
      line-height: 2;
      margin-block-start: 2.5rem;
      padding-block: 0.4rem;
      padding-inline: 1.2rem;
      text-decoration: none;
      transition: background-color 0.5s linear;

      &:active,
      &:focus,
      &:hover {
        background-color: var(--secondary-accent-hover);
      }

      &:focus-visible {
        outline: 0.1rem dashed var(--focus-ring);
        outline-offset: 0.2rem;
      }
    }

    p {
      font-size: 1.2rem;
      margin-block-start: 5rem;
    }
  }
}

@media screen and (min-width: 576px) {
  /* HERO */
  #hero {
    width: 54rem;

    .inner {
      #name {
        font-size: 4rem;
      }

      #role {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  /* HERO */
  #hero {
    width: 72rem;

    .inner {
      #name {
        font-size: 4.8rem;
      }

      #role {
        font-size: 2.4rem;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  /* HERO */
  #hero {
    width: 96rem;

    .inner {
      #name {
        font-size: 5.6rem;
      }

      #role {
        font-size: 2.8rem;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  /* HERO */
  #hero {
    width: 114rem;

    .inner {
      #name {
        font-size: 6.4rem;
      }

      #role {
        font-size: 3.2rem;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  /* HERO */
  #hero {
    width: 132rem;

    .inner {
      #name {
        font-size: 7.2rem;
      }

      #role {
        font-size: 3.6rem;
      }
    }
  }
}
