/* HERO */
#hero {
  .inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;

    #name {
      font-family: 'IBM Plex Serif', serif;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.5;
      text-transform: lowercase;

      &::after {
        color: var(--primary-accent);
        content: '.';
      }
    }

    #role {
      color: var(--secondary-text);
      font-size: 1.6rem;
      line-height: 1.5;
    }

    #social-networks {
      li {
        list-style: none;
      }
    }

    a[role="button"] {
      background-color: var(--secondary-accent);
      border-bottom: 0.2rem solid var(--secondary-accent-hover);
      border-radius: 0.5rem;
      color: var(--primary-background);
      display: inline-block;
      font-size: 1.2rem;
      height: 3.2rem;
      line-height: 2;
      margin-block-start: 2.5rem;
      padding-block: 0.4rem;
      padding-inline: 1.2rem;
      text-decoration: none;
      transition: background-color 0.5s linear;

      &:active,
      &:focus,
      &:hover {
        background-color: var(--secondary-accent-hover);
      }

      &:focus-visible {
        outline: 0.1rem dashed var(--focus-ring);
        outline-offset: 0.2rem;
      }
    }

    p {
      font-size: 1.2rem;
      margin-block-start: 5rem;
    }
  }
}
