@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=IBM+Plex+Sans:wght@400;500&family=IBM+Plex+Serif:wght@600;700&display=swap');

:root {
             --black: black;
  --bright-turquoise: #16a085;
         --dark-blue: #2c3e50;
         --deep-gray: #7F8c8d;
          --sky-blue: #1e73be;
         --soft-gray: #ecf0f1;
     --vibrant-coral: #d64541;
             --white: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--white);
  color: var(--black);
  font: normal 400 1rem/1 'IBM Plex Sans', sans-serif;
}






/* MAIN */
main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
}

main .role {
  color: var(--deep-gray);
  font-size: 1.5rem;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}

main a[download] {
  background-color: var(--sky-blue);
  border-radius: 0.25rem;
  color: var(--white);
  display: block;
  font-size: 0.75rem;
  margin: 1rem 0 0 0;
  outline: 0;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 0.5s linear;
}

main a[download]:active,
main a[download]:focus,
main a[download]:hover {
  background-color: var(--bright-turquoise);
}

main ul {
  margin: 1rem 0 0 0;
  padding: 0;
}

main li {
  display: inline-block;
  list-style: none;
  padding-right: 0.5rem;
}

main li:last-child {
  padding-right: 0;
}

main a {
  color: var(--vibrant-coral);
  outline: 0;
}

main a:not([download]):active,
main a:not([download]):focus,
main a:not([download]):hover {
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-timing-function: ease;
  display: block;
}

h1 {
  color: var(--dark-blue);
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

@keyframes bounce {
    0% { transform: translateY(0); }
   50% { transform: translateY(0.5rem); }
  100% { transform: translateY(0); }
}
