main {
  z-index: 10;

  /* MENU */
  #menu {
    position: fixed;
    inset-block-end: auto;
    inset-block-start: 50%;
    inset-inline-end: auto;
    inset-inline-start: 0;
    z-index: 100;

    .active {
      font-size: 1.4rem;
    }
  }
}
