<footer id="footer">
  <div class="container text-center">
    <div class="row">
      <div class="col-12 col-sm-6 text-sm-start">
        <p>© {{ year }} <strong>{{ name }}</strong>. All rights reserved.</p>
      </div>
      <div class="col-12 col-sm-6 text-sm-end">
        <p>Built with <fa-icon [icon]="['fas', 'heart']" title="Love"></fa-icon>, <a href="https://angular.dev/" target="_blank" rel="noopener noreferrer">Angular</a>, and <a href="https://code.visualstudio.com/" target="_blank" rel="noopener noreferrer">Visual Studio Code</a> on <a href="https://github.com/" target="_blank" rel="noopener noreferrer">GitHub</a>.</p>
      </div>
    </div>
  </div>
</footer>
