<footer id="footer">
  <div class="inner">
    <div class="start">
      <p>© {{ year }} <strong>{{ name }}</strong>. All rights reserved.</p>
    </div>
    <div class="end">
      <p>Built with , <a href="https://angular.dev/" target="_blank" rel="noopener noreferrer">Angular</a>, and <a href="https://antigravity.google/" target="_blank" rel="noopener noreferrer">Antigravity</a> on <a href="https://github.com/fedtti/fedtti.github.io" target="_blank" rel="noopener noreferrer">GitHub</a>.</p>
    </div>
  </div>
</footer>
