/* FOOTER */
#footer {
  bottom: 0;
  position: fixed;
  width: 100%;

  .inner {
    align-items: center;
    display: flex;
    flex-direction: column;

    .start {
      
    }

    .end {
      
    }

    p {
      color: var(--secondary-text);
      font-size: 1.2rem;

      .ng-fa-icon {
        color: var(--error);
      }
    }
  }
}