/* FOOTER */
#footer {
  .inner {
    align-items: center;
    display: flex;
    flex-direction: column;

    .start {
      
    }

    .end {
      
    }

    p {
      font-size: 1.2rem;
    }
  }
}