/* FOOTER */
#footer {
  bottom: 0;
  left: 0;
  margin-block: 1.5rem;
  padding-inline: 1.5rem;
  position: fixed;
  right: 0;
  width: 100%;

  .inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      color: var(--secondary-text);
      font-size: 1.2rem;
      line-height: 1.5;

      .ng-fa-icon {
        color: var(--error);
      }

      a {
        color: var(--links);
        text-decoration: none;
        transition: color 0.5s linear;

        &:hover {
          color: var(--links-hover);
        }
      }
    }
  }
}