@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=IBM+Plex+Sans:wght@400;500&family=IBM+Plex+Serif:wght@600;700&display=swap');

$light-primary-background: white;
$light-primary-text: #111827;
$light-primary-accent: #2563eb;
$light-secondary-background: #f9fafb;
$light-secondary-background-rgb: hexToRgb($light-secondary-background);
$light-secondary-text: #6b7280;
$light-secondary-accent: #10b981;
$light-links: #1d4ed8;
$light-borders-and-dividers: #e5e7eb;
$light-success: #22c55e;
$light-warning: #f59e0b;
$light-error: #ef4444;

$dark-primary-background: #1f2937;
$dark-primary-text: #f9fafb;
$dark-primary-accent: #3b82f6;
$dark-secondary-background: #374151;
$dark-secondary-background-rgb: hexToRgb($dark-secondary-background);
$dark-secondary-text: #d1d5db;
$dark-secondary-accent: #34d399;
$dark-links: #60a5fa;
$dark-borders-and-dividers: #4b5563;
$dark-success: #22c55e;
$dark-warning: #eab308;
$dark-error: #f87171;

:root {
  color-scheme: light dark;
}

[data-theme="light"] {
  --primary-background: #{$light-primary-background};
  --primary-text: #{$light-primary-text};
  --primary-accent: #{$light-primary-accent};
  --secondary-background: #{$light-secondary-background};
  --secondary-text: #{$light-secondary-text};
  --secondary-accent: #{$light-secondary-accent};

  --links: #{$light-links};
  --borders-and-dividers: #{$light-borders-and-dividers};

  --error: #{$light-error};
}

[data-theme="dark"] {
  --primary-background: #{$dark-primary-background};
  --primary-text: #{$dark-primary-text};
  --primary-accent: #{$dark-primary-accent};
  --secondary-background: #{$dark-secondary-background};
  --secondary-text: #{$dark-secondary-text};
  --secondary-accent: #{$dark-secondary-accent};

  --links: #{$dark-links};
  --borders-and-dividers: #{$dark-borders-and-dividers};

  --error: #{$dark-error};
}

* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  width: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-background);
  color: var(--primary-text);
  font: normal 400 1rem/1 'IBM Plex Sans', sans-serif;
  z-index: 0;
}

abbr[title] {
  cursor: help;
  border-bottom: 0.0625rem dashed var(--primary-accent);
  text-decoration: none;
}

#skip {
  background-color: var(--primary-background);
  border-radius: 0.5rem;
  color: var(--links);
  font-size: 1.2rem;
  line-height: 2;
  margin: 0.5rem;
  padding: 0 0.5rem;
  position: fixed;
  text-decoration: none;
  z-index: 10000;

  &:active,
  &:focus {
    border: 0.25rem solid var(--borders-and-dividers);
    left: 0.5rem;
    top: 0.5rem;
  }
}

#scrollbar {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--primary-background);
  border: none;
  color: var(--borders-and-dividers);
  height: 0.5rem;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;

  &::-webkit-progress-bar {
    background-color: var(--primary-background);
  }

  &::-webkit-progress-value {
    background-color: var(--borders-and-dividers);
  }

  &::-moz-progress-bar {
    background-color: var(--borders-and-dividers);
  }

  &::-ms-fill {
    background-color: var(--borders-and-dividers);
  }
}

#wrapper {
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  position: relative;
  width: 100%;
  z-index: 1;

  .blur {
    background: linear-gradient(var(--primary-background), transparent);
    height: 5rem;
    left: 0;
    position: fixed;
    top: 0.5rem;
    width: 100%;
    z-index: 1000;
  }

  /* HEADER */
  #header {
    background-color: var(--primary-background);
    padding: 5rem 0 0 0;
    position: relative;
    width: 100%;
    z-index: 100;

    h1 {
      font-family: 'IBM Plex Serif', serif;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.5;
      margin: 0;
      text-transform: lowercase;

      &::after {
        color: var(--secondary-accent);
        content: '.';
      }
    }

    .inner {
      height: 4.8rem;
      width: 100%;

      .right {
        margin-left: auto;
        padding: 0.8rem 0 0 0;

        ul {
          li {
            display: inline-block;
            list-style: none;

            &:first-of-type {
              margin-right: 0.5rem;
            }

            button {
              -webkit-appearance: none;
                 -moz-appearance: none;
                      appearance: none;
              background-color: transparent;
              border: 0.25rem solid transparent;
              border-radius: 0.5rem;
              color: var(--primary-accent);
              cursor: pointer;
              font-size: 1.6rem;
              height: 3.2rem;
              width: 3.2rem;
              transition: border-color 0.5s linear;

              &:active,
              &:focus,
              &:hover {
                border: 0.25rem solid var(--borders-and-dividers);
              }
            }
          }
        }
      }
    }
  }

  /* NAVIGATION */
  #navigation {
    background-color: var(--secondary-background);
    left: 1.5rem;
    padding: 1.2rem 0;
    position: absolute;
    right: 1.5rem;
    top: 0;
    transition: top 0.5s linear;
    z-index: 10;

    ol {
      li {
        height: 2.4rem;
        list-style: none;
        padding: 0 1.5rem;

        &.active {
          a {
            font-weight: 500;
          }
        }

        a {
          color: var(--links);
          display: block;
          font-size: 1.2rem;
          line-height: 2;
          padding: 0 1rem;
          text-align: right;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }

  /* BREADCRUMBS */
  #breadcrumbs {
    margin: 1rem 0;

    ol {
      color: var(--secondary-text);
      font-size: 1rem;

      li {
        display: inline-block;
        line-height: 1.6;
        list-style: none;
        margin: 0 0.5rem;
        min-height: 1.6rem;

        &:last-of-type {
          margin: 0 0 0 0.5rem;
        }

        a {
          color: var(--links);
          text-decoration: none;
        }
      }
    }
  }

  /* CONTENTS */
  #contents {
    section {
      margin: 5rem 0 0 0;

      h2 {
        font-family: 'IBM Plex Serif', serif;
        font-weight: 700;
        text-transform: lowercase;

        &::after {
          color: var(--secondary-accent);
          content: '.';
        }
      }

      h2 {
        font-size: 2.4rem;
      }

      h3 {
        font-size: 1.6rem;
      }

      p {
        font-size: 1.6rem;
        line-height: 1.5;
      }

      #social-networks {
        li {
          display: inline-block;
          line-height: 2;
          margin-left: 0.5rem;

          &:first-of-type {
            margin-left: 0;
          }

          a {
            display: block;
            color: var(--links);
          }
        }
      }

      ul {
        margin: 1.5rem 0 0 0;

        li {
          color: var(--secondary-text);
          list-style: none;
          min-height: 2.4rem;

          .inner {
            column-gap: 1.5rem;
            font-size: 1.6rem;
            line-height: 2;
            margin: 0 0 1.5rem 0;

            a {
              color: var(--links);
              text-decoration: none;
            }
          }
        }
      }
    }

    article {
      header {
        h3 {
          font-family: 'IBM Plex Serif', serif;
          font-size: 1.8rem;
          font-weight: 700;
          margin-bottom: 0.5rem;
          text-transform: lowercase;

          &::after {
            color: var(--secondary-accent);
            content: '.';
          }
        }
      }

      footer {
        ul {
          margin-top: 0.5rem;

          li {
            display: inline-block;
            line-height: 1.6;
            list-style: none;
            margin-right: 0.5rem;

            &:last-of-type {
              margin-right: 0;
            }

            a {
              color: var(--links);
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  /* FOOTER */
  #footer {
    padding: 5rem 0;

    .inner {
      color: var(--secondary-text);
      flex-direction: column;
      row-gap: 1.5rem;
      text-align: center;

      p {
        line-height: 1.5;
      }

      .right {
        i {
          color: var(--error);
          font-size: inherit;
        }

        a {
          color: var(--links);
          text-decoration: none;
        }
      }
    }
  }
}

.inner {
  display: flex;
}

.hidden {
  display: none;
}

@media screen and (min-width: 576px) {
  #wrapper {
    width: 54rem;

    /* HEADER */
    #header {
      .inner {
        .right {
          ul {
            li {
              &:first-of-type {
                margin-right: 0;
              }

              #navigation-toggler {
                display: none;
              }
            }
          }
        }
      }
    }

    /* NAVIGATION */
    #navigation {
      background-color: transparent;
      left: auto;
      padding: 0;
      position: initial;
      right: auto;
      top: auto;
      width: auto;

      ol {
        li {
          display: inline-block;
          height: 2.4rem;
          list-style: none;
          border-right: 0.0625rem dashed var(--borders-and-dividers);
          margin-right: 1rem;
          padding: 0 1rem 0 0;

          &:last-of-type {
            border-right: none;
            margin-right: 0;
            padding-right: 0;
          }

          a {
            padding: 0;
            text-align: left;
          }
        }
      }
    }

    #footer {
      .inner {
        flex-direction: row;
        text-align: left;

        .right {
          margin-left: auto;
        }
      }
    }
  }

  .hidden {
    display: inline;
  }
}

@media screen and (min-width: 768px) {
  #wrapper {
    width: 72rem;
  }
}

@media screen and (min-width: 992px) {
  #wrapper {
    width: 96rem;
  }
}

@media screen and (min-width: 1200px) {
  #wrapper {
    width: 114rem;
  }
}

@media screen and (min-width: 1400px) {
  #wrapper {
    width: 132rem;
  }
}
