<section id="timeline" aria-label="Timeline">
  <div class="inner">
    @for (item of items; track $index; let odd = $odd) {
      <div class="item" [class]="odd ? 'end' : 'start'">
        <div class="marker"></div>
        <div class="content">
          <h3>{{ item.company }}</h3>
          <h4>{{ item.role }}</h4>
          <p>
            <time>{{ item.start }}</time>
            -
            @if (item.end) {
              <time>{{ item.end }}</time>
            } @else {
              Ongoing
            }
          </p>
        </div>
      </div>
    }
  </div>
</section>
