/* TIMELINE */
#timeline {
  height: 100vh;
  width: 100%;
  z-index: 10;

  .inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
    margin-inline: auto;

    #items {
      overflow: hidden;
      width: 100%;
      
      .item {
        clear: both;
        display: flex;
        justify-content: space-between;
        padding-block: 2.4rem;
        padding-inline-start: 2.4rem;
        width: 50%;

        &.start {
          float: inline-end;
          
          h3 {
            &::after {
              color: var(--primary-accent);
              content: '.';
            }
          }
        }

        &.end {
          direction: rtl;
          float: inline-start;
          padding-inline-start: 2.65rem;
          
          h3 {
            &::before {
              color: var(--primary-accent);
              content: '.';
            }
          }
        }

        .marker {
          clear: both;
        }

        .content {
          h3, h4, p {
            line-height: 1.5;
          }
          
          h3 {
            font-family: 'IBM Plex Serif', serif;
            font-size: 2.4rem;
            text-transform: lowercase;
          }

          h4 {
            font-size: 1.6rem;
            font-weight: 400;
          }

          p {
            color: var(--secondary-text);
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  /* TIMELINE */
  #timeline {
    .inner {
      #items {
        padding-inline-start: 2.4rem;

        .item {
          width: 100%;

          &.start {
            float: none;
          }

          &.end {
            float: none;
            direction: ltr;
            padding-inline-start: 2.4rem;

            h3 {
              &::before {
                content: '';
              }

              &::after {
                color: var(--primary-accent);
                content: '.';
              }
            }
          }
        }
      }
    }
  }
}
