/* TIMELINE */
#timeline {
  height: 100vh;
  width: 100%;
  z-index: 10;

  .inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
    margin-inline: auto;

    #items {
      overflow: hidden;
      position: relative;
      width: 100%;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        margin-inline-start: -0.25rem;
        width: 0.25rem;
        height: 100%;
        background: var(--border-strong);
        z-index: 100;
      }
      
      .item {
        clear: both;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-inline-start: 2.4rem;
        width: 50%;

        &.start {
          float: inline-end;
        }

        &.end {
          direction: rtl;
          float: inline-start;
        }

        .marker {

        }

        .content {
      
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  /* TIMELINE */
  #timeline {
    .inner {
      #items {
        &::before {
          left: 0; // TODO: @fedtti
        }

        .item {
          width: 100%;

          &.start {
            float: none;
          }

          &.end {
            float: none;
            direction: ltr;
          }
        }
      }
    }
  }
}
