---
layout: html
---
<section id="hero">
  <picture>

  </picture>
  <p>I’m an Italian software developer who helps <abbr title="Business Process Outsourcing">BPO</abbr>s in digital transformation with <abbr title="Artificial Intelligence">AI</abbr> by creating solutions using <abbr title="HyperText Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr>, and JavaScript.</p>
  <ul>
    <li>Follow me on</li>
    <li></li>
    <li></li>
  </ul>
</section>
<section>
  <h2>Work</h2>
  <p></p>
</section>
<section>
  <h2>Blog</h2>

</section>
