---
layout: html
---
<section aria-label="Federico Moretti">
  <p>
    I’m an Italian software developer who helps <abbr title="Business Process Outsourcing">BPO</abbr>s in digital transformation with <abbr title="Artificial Intelligence">AI</abbr> by creating solutions using <abbr title="HyperText Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr>, and JavaScript.
    <br>

  </p>
  <ul id="social-networks">
    <li>Follow me on</li>
    <li>
      <a href="https://github.com/fedtti" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-github" title="GitHub"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/fedtti/" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-instagram" title="Instagram"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/fedtti/" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-linkedin" title="LinkedIn"></i>
      </a>
    </li>
  </ul>
</section>
<section aria-labelledby="latest-work">
  <h2 id="latest-work">Latest Work</h2>

</section>
<section aria-labelledby="articles">
  <h2 id="articles">Articles</h2>
  <ul>
  {%- for post in site.posts limit: 5 -%}
  <li>
    <div class="inner">
      <div class="left">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string: 'ordinal' }}</time>
      </div>
      <div class="right">
        <a href="{{ post.url | relative }}">{{ post.title }}</a>
      </div>
    </div>
  </li>
  {%- endfor -%}
  </ul>
</section>
