---
layout: html
---
<section>
  <picture>
    <!--
      <source srcset="/assets/img/federico-moretti.webp" type="image/webp">
      <img src="/assets/img/federico-moretti.jpg" alt="Federico Moretti">
    -->
  </picture>
  <p>I’m an Italian software developer who helps <abbr title="Business Process Outsourcing">BPO</abbr>s in digital transformation with <abbr title="Artificial Intelligence">AI</abbr> by creating solutions using <abbr title="HyperText Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr>, and JavaScript.</p>
  <ul>
    <li>Follow me on</li>
    <li></li>
    <li></li>
  </ul>
</section>
<section>
  <h2 id="work">Latest Work</h2>
  <p></p>
</section>
<section>
  <h2>Articles</h2>

</section>
