@import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=IBM+Plex+Sans:wght@400;500&family=IBM+Plex+Serif:wght@600;700&display=swap';

:root {
              color-scheme: light dark;
      --primary-background: white;

            --primary-text: #111827;
          --secondary-text: #4b5563;

          --primary-accent: #2563eb;
        --secondary-accent: #059669;
  --secondary-accent-hover: #047857;

                   --links: #1d4ed8;
             --links-hover: #1e40af;

                   --error: #dc2626;

              --focus-ring: #2563eb;
}

@media (prefers-color-scheme: dark) {
  :root {
        --primary-background: #0f172a;

              --primary-text: #f9fafb;
            --secondary-text: #cbd5e1;

            --primary-accent: #3b82f6;
          --secondary-accent: #22c55e;
    --secondary-accent-hover: #4ade80;

                     --links: #60a5fa;
               --links-hover: #93c5fd;

                     --error: #f87171;

                --focus-ring: #60a5fa;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  body {
    background-color: var(--primary-background);
    color: var(--primary-text);
    font: 400 1rem/1 'IBM Plex Sans', sans-serif;
    z-index: 0;
  }
}
