name:

on:
  push:
    branches: [
      'main'
    ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'
      - name: Install
        run: npm install
      - name: Build
        run: npm run build
      - name: Deploy to gh pages
        run: |
          npx angular-cli-ghpages --dir=dist/fedtti.github.io --cname=federicomoretti.it
        env:
          CI: true
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
